body {
    background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
    
    color: whitesmoke;

    font-size: 1rem;
    font-weight: 200;
    font-family: 'Nunito';
    text-align: center;
}

h1 {
    font-weight: 300;
}